*{
  margin:0px;
}

header{
  display: flex;
  background-color: yellow;
  align-items: center;
}

header img {
  width: 80px;
  border: 1px solid yellow;
  border-radius: 25%;
  
  
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
   
}

.logo p{
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  color: brown;
  letter-spacing: 0.05em;
}

nav ul li{
  display: inline-block;
  padding:15px;
  
}


nav{
    /* border :5px solid green; */
    flex-grow: 1;
      align-items: center;
}

nav ul{
list-style: none;


}
nav ul a{
text-decoration: none;
font-size: 20px;
color:green;
/* cursor: pointer; */
}

a:hover{
  cursor: default;
  color: black;
}
 
@media screen and (max-width:760px){
  /* nav ul{
    display: none;
   } */
  nav ul li{
    display: block;
   }
} 