*{
  margin:0px;
}

header{
  display: flex;
  background-color: yellow;
  align-items: center;
}

header img {
  width: 80px;
  border: 1px solid yellow;
  border-radius: 25%;
  
  
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
   
}

.logo p{
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  color: brown;
  letter-spacing: 0.05em;
}

nav ul li{
  display: inline-block;
  padding:15px;
  
}


nav{
    /* border :5px solid green; */
    flex-grow: 1;
      align-items: center;
}

nav ul{
list-style: none;


}
nav ul a{
text-decoration: none;
font-size: 20px;
color:green;
/* cursor: pointer; */
}

a:hover{
  cursor: default;
  color: black;
}

.carousel {
  position: relative;
}

.carousel__item {
  height: 300px;
  background: red;
  padding: 1em;
  font-family: 'Quicksand',sans-serif;
  font-weight: bold;
  font-size: 2em;
  /* display: none; */
}

.carousel__item__selected {
 display: block;
}
.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  /* background-color: white; */
}

.carousel__button{
  width: 10px;
  height: 10px;
  display: inline-block;
  background: black;
  border-radius: 70%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button__selected {
  background: rgba(255,255,255,0.2)
}

@media screen and (max-width:760px){
  /* nav ul{
    display: none;
   } */
  nav ul li{
    display: block;
   }
} 