*{
  margin:0px;
}

header{
  display: flex;
  background-color: yellow;
  align-items: center;
}

header img {
  width: 80px;
  border: 1px solid yellow;
  border-radius: 25%;
  
  
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
   
}

.logo p{
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  color: brown;
  letter-spacing: 0.05em;
}

nav ul li{
  display: inline-block;
  padding:15px;
  
}


nav{
    /* border :5px solid green; */
    flex-grow: 1;
      align-items: center;
}

nav ul{
list-style: none;


}
nav ul a{
text-decoration: none;
font-size: 20px;
color:green;
/* cursor: pointer; */
}

a:hover{
  cursor: default;
  color: black;
}

.carousel {
  position:relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.carousel__track-container {
  background: red;
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;

}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -60px;
  
}

.carousel__button--right {
  right: -60px;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  /* background: red; */
  display: flex;
  justify-content: center;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width:15px;
  height: 15px;
  background: rgba(0,0,0,.3);
  margin: 0 12px;
  margin-top: 10px; 
}

.carousel__indicator.current-slide {
  background: black;
}
@media screen and (max-width:760px){
  
  nav ul li{
    display: block;
   }
} 